<title>Convert Number to Word Version of Number</title>
<!-- this is basically copied from http://www.giantflyingsaucer.com/blog/?p=4310 -->
<!-- I may create something more sophisticated later -->
<!-- also need to figure out what these lines actually do -->
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>        
 
 
{% block content %}{% endblock %}
